@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Rubik", serif;
    color: rgb(226, 226, 226);
    font-size: 20px;
    line-height: 40px;
    align-content: center;
    text-justify: auto;
    font-weight: 400;
}

body {
    background: linear-gradient(#fabd15, #ff8800);
  }

  h1 {
    color: rgb(226, 226, 226);
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    font-size: 52px;
    margin-bottom: -10px;
  }

  h6 {
    color: rgb(226, 226, 226);
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: -20px;
  }
  
  p {
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 40px;
  }

  h3, iframe {
      margin-left: 60px;
      margin-bottom: 20px;
  }

  a {
    margin-left: 1250px;
    margin-bottom: 500px;
    background-color: #f59f3d;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
    text-decoration: none;
  }

  a:hover {
    background-color: #f1c241;
}